{% extends "base.html" %}

{% block title %}
    Add message
{% endblock %}

{% block sidebar %}
    <h1 style="color:#4C420F; font-family:'Lobster';">Your message:</h1>
{% endblock %}

{% block content %}

    {% for e in message_form.non_field_errors %}
        <div class="alert alert-danger">{{ e }}</div>
    {% endfor %}

    <form class="form-horizontal" method="post" action="">{% csrf_token %}
        <fieldset>
            {% for field in message_form %}
            <div class="control-group
                {% if field.errors %}has-error{% endif %}">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}</div>
            </div>
            {% endfor %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Post
            </button>
        </div>
    </form>

{% endblock %}