{% extends "base.html" %}

{% block title %}
Home page
{% endblock %}

{% block sidebar %}
<h1 style="color:#4C420F; font-family:'Lobster';">Home</h1>
{% endblock %}

{% block content %}

    {% for message in messages %}
    <a href="/message/{{ message.id}}"><p>{{ message.id }} {{ message.text }}</p></a>
    {% endfor %}

<div class="pagination">
    {% if messages.has_previous %}
        <a href="?page={{ messages.previous_page_number }}">←</a>
    {% endif %}

    {% for num in messages.paginator.page_range %}
        {% if num == messages.number %}
            <span class="current"><b>{{ num }}</b></span>
        {% else %}
            <a href="?page={{ num }}"> {{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if messages.has_next %}
        <a href="?page={{ messages.next_page_number }}">→</a>
    {% endif %}
</div>
{% endblock %}